.favorites {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 12px #eef1f7;
  padding: 15px;
  justify-content: normal;
  border: 1px solid transparent;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  transition: height 1s ease-in, padding-bottom 0.1s, padding-top 0.1s;
  width: 300px;
  font-family: var(--gteestiprotext);

  &__hr {
    border-top: 1px solid #d6dbe0;
    margin: 0 15px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title__link {
    width: 100%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
  }

  &__title {
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 20px;
    color: #005bff;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 84px;

    &:hover {
      color: #004ed6;
    }
    &:active {
      color: #003ead;
    }
  }

  &__icon {
    color: #fece3c;
    fill: #fece3c;
    &:hover {
      cursor: pointer;
      color: #fece3c;
      fill: #fff;
    }
    &:active {
      color: #fece3c82;
      fill: #fff;
    }
  }

  &__button {
    display: flex;
    align-items: flex-start;
    z-index: 2;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__apply {
    color: #fff;
    background: #005bff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;

    &:hover {
      background: #004ed6;
    }
    &:active {
      background: #003ead;
    }
  }

  &__location {
    display: flex;
    gap: 15px;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: #002855;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 22px;

    &__location {
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      position: relative;
      top: -8px;
      line-height: 5px;
    }

    &__region {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 26px;
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
  }

  &__salary {
    line-height: 22px;
    font-weight: 500;
    white-space: nowrap;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -8px;
  }
}

.animation__icon {
  transform: scale(1);
  animation: pulse-black 0.2s;
}

@keyframes pulse-black {
  0% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.3);
  }
}
