.root {
  width: 76px;
  height: 76px;
}

/* .avatar {
  opacity: 0.5;
} */

.skeleton {
  margin: 12px;
}

.spinner {
  position: absolute;
  z-index: 1;
  width: 35px;
  height: 35px;
  color: #005bff;
}
