.root {
  // background-color: var(--notification-color, var(--mantine-primary-color-filled));

  &::before {
    background-color: var(--notification-color);
  }
}

.description,
.title {
  color: var(--mantine-color-gray-9);
}

.additionalMessage {
  display: flex;
  flex-direction: column;
  gap: 10;
}

/* .closeButton {
  color: var(--mantine-color-white);

  @mixin hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
} */
