.remove-btn {
  margin-right: 0.5rem;
}

.cardEnter {
  opacity: 0;
}
.cardEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.cardDelete {
  opacity: 1;
}
.cardDeleteActive {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.container {
  /*  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0; */
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}
