.vacancy {
    display: flex;
    justify-content: center;
    padding: 80px 24px;
    margin: 0 auto;
    max-width: 1100px;

    &__info {
        width: 100%;
        margin-right: 120px;

        &__title {
            display: flex;
            margin-bottom: 24px;
            color: #4c6888;

            &__city {
                display: flex;
                align-items: center;
                margin-right: 26px;

                &__icon {
                    margin-right: 13px;
                }
            }

            &__department {
                display: grid;
                align-items: center;
                -moz-column-gap: 6px;
                grid-column-gap: 6px;
                column-gap: 6px;
                grid-template-columns: min-content 1fr;

                .dot {
                    width: 2px;
                    height: 2px;
                    background-color: #4d5f71;
                }
            }
        }
        &__name {
            margin: 0 0 16px;
            color: #002855;
            font-size: 46px;
            font-weight: 500;
            letter-spacing: 0.8px;
            line-height: 50px;
        }

        &__salary {
            color: #002855;
            font-size: 36px;
            font-weight: 500;
        }
        &__workplaces {
            display: flex;
            align-items: center;
            align-items: flex-start;
            gap: 40px;
            margin: 10px;
            color: rgb(100 116 139 / 1);
            font-weight: 200;
            font-size: 16px;
        }

        &__count {
            display: flex;
            gap: 10px;
        }

        &__body {
            max-width: 700px;
            color: #001a34;

            li,
            p {
                color: #4c6888;
                font-family: var(--gteestiprotext);
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.4px;
                line-height: 26px;
            }
            p {
                margin-bottom: 16px;

                strong {
                    color: #002855;
                    font-size: 24px;
                    font-weight: bolder;
                }
            }
            ul {
                margin-top: 0;
                margin-bottom: 16px;
                padding-left: 40px;
                color: #4c6888;
                font-family: var(--gteestiprotext);
            }

            li:empty {
                display: none;
            }
        }
    }
    &__actions {
        position: sticky;
        top: 160px;
        height: 100%;

        &__apply {
            font-family: var(--gteestiprotext);

            color: #fff;
            background: #005bff;
            margin-bottom: 24px;
            padding: 14px 20px;
            border-radius: 12px;
            padding: 14px 20px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.4px;

            &:hover {
                background: #004ed6;
            }
            &:active {
                background: #003ead;
            }
        }

        &__nominee {
            margin-bottom: 28px;
            position: relative;
            display: flex;
            gap: 10px;

            width: 200px;
            align-items: center;
            color: #005bff;
            cursor: pointer;
            &:active {
                color: #003ead;
            }

            &__text {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

.workplaces {
    white-space: nowrap;
}
