.vacancies {
    margin: 57px auto 100px;
    max-width: 1200px;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem;
}
