.group:hover {
  .avatar__name {
    opacity: 0.5;
  }
  .avatar__email {
    opacity: 0.5;
  }
  .avatar__picture {
    background-color: #868e961a;
    opacity: 0.5;
  }
  .avatar__icon {
    opacity: 0.5;
  }
}
