.social {
  padding: 1rem 0.5rem 1rem 1rem;
  margin: 0;
  color: #757575;

  & :global(.mantine-List-itemIcon) {
    display: flex;
  }


  & :global(.mantine-List-itemLabel) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  & :global(.mantine-List-itemWrapper) {
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
}

.wrap__animation {
  width: 100%;
}

.input {
  border-radius: 4px;
  outline: transparent solid 1px;

  & :global(.mantine-Input-input) {
    line-height: 0;
    height: 28px;
    min-height: 28px;
    border-radius: 4px;
    text-align: end;
    padding-inline-end: 0;
    padding-right: 23px;
    font-family: inherit;
    color: inherit;
    line-height: 28px;
    background-color: #f1f3f5;

    &:focus {
      outline: 1px solid #228be6;
    }
  }
  & :global(.mantine-Input-section) {
    right: 0px;
    width: 22px;
  }

}

.save__button {
  border: none;
  transition: all 300ms ease-out;
  span {
    background-color: #f1f3f5;
  }
  svg {
    color: #333333;
  }
  &:hover {
    svg {
      color: #349234;
    }
  }
}

.notif {
  width: 100%;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: end;
  padding: 0 23px 0 12px;
  border-radius: 4px;
  outline: transparent solid 1px;

  &:hover {
    // outline: 1px solid #228be6;
    background-color: #f1f3f5;
  }
}
