.menu {
  cursor: pointer;

  &__item {
    // border: 1px solid black;

    svg {
      // margin-bottom: 3px;
      // border: 1px solid black;
      width: 14px;
      height: 14px;
    }

    & :global(.mantine-Menu-itemLabel) {
      display: flex;
    }
  }
  &__label {
    margin-top: 2px;
  }
}

