.avatar {
  border-radius: 12px;
  cursor: pointer;
  padding: 5px;

  &__picture {
    &:hover {
      background-color: #868e961a;
    }
  }

  &__item {
    svg {
      margin-bottom: 3px;
      width: 14px;
      height: 14px;
    }

    & .mantine-Menu-itemLabel {
      margin-top: 3px;
    }
    .mantine-Menu-itemLabel {
      margin-top: 3px;
    }
  }
}
