.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 72px;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: sticky;
    z-index: 2;
    top: 72px;
    background-color: #fff;
    color: rgb(0, 26, 52);
    box-shadow: 0 4px 16px rgba(0, 26, 52, 0.1);
    transition: top 0.5s, visibility 0.5s;

    padding: 0 16px;
    font-family: var(--gteestiprotext);

    &__links {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 15px;
        color: #001a34;
        &:hover {
            color: rgb(37 99 235 /1);
        }
        &--active {
            color: rgb(37 99 235 /1);
        }
    }

    }

.links-name {
    font-weight: 400;
    font-size: 14px;
}
