.skeleton {
    min-height: 105px;
    position: relative;
}

.wrapp {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.hr {
    border-top: 1px solid #d6dbe0;
    margin: 0 21px;
    width: 94.95%;
    position: absolute;
    top: 0;
}

.container {
    padding: 20px 80px 18px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 104px;
}
